.phoneClick, .location{
    cursor: pointer;
}
.education{
    width:70%;
    float: left;
}
.skills{
    width: 30%;
    float: right;
}
.Section1{
    border-bottom: 1px solid #5a189a;
}
.Section2{
    border-bottom: 1px solid #5a189a;
    overflow: hidden;
}
.Section3{
    width: 100%;
    display: flex;
    flex-direction: column;
}
body{
    padding: 1% 20% 1% 20%;
    background-color: #e0e1dd;
}
.Introduction{
    width: 50%;
    float: right;
}

.Image{
    width: 50%;
    height: 235px;
    float: left;
}
.img{
    width: auto;
    border-style: none;
    border-radius: 50%;
}

h1, h2{
    color: #5a189a;
}